doctype html
html
  head
    title= title
    //-link(rel='stylesheet', href='/stylesheets/style.css')
    //-Bootstrap core CSS
    link(rel='stylesheet', href='vendor/bootstrap/css/bootstrap.min.css')

    //-Custom styles for this template
    link(rel='stylesheet', href='css/scrolling-nav.css' )

    //- Bootstrap core JavaScript
    script(src='vendor/jquery/jquery.min.js')
    script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')

    //-Plugin JavaScript
    script(src='vendor/jquery-easing/jquery.easing.min.js')

    //-Custom JavaScript for this theme
    script(src='js/scrolling-nav.js')
  body
    block content
